*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #333;
    text-decoration: none;
}
.container{
    margin: auto;
    padding: 1rem;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.color{
    color: rgb(26, 83, 64);
}
.details{
    border-bottom: 3px solid gray;
    padding-bottom: 1rem;
}
h1{
    text-align: center;
    font-size: large;
    font-weight: 700;
    padding: 1rem;
}
ul{
    padding: 1rem;
}
li{
    font-size: large;
    font-weight: 800;
    list-style: circle;
    padding: 3px;
}
li p{
    padding-left: 1rem;
    font-weight: 400;
    color: #fff;
}
footer{
    margin-top: 3rem;
    text-align: center;
    font-size: 13.3px;
    letter-spacing: 0.3px;
}