*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #333;
    text-decoration: none;
}
.container{
    margin: auto;
    padding: 1rem;
    width: 50%;
    background-color: rgb(245, 242, 242);
}
.color{
    color: rgb(26, 134, 92);
}
.details{
    border-bottom: 3px solid gray;
    padding-bottom: 1rem;
}
h1{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 1rem;
}
ul{
    padding: 0.9rem;
    list-style: square;
}
li{
    font-size: 1.2rem;
    font-weight: 800;
    list-style: circle;
    padding: 3px;
    margin-bottom: 1rem;
}
li p{
    padding-left: 1rem;
    font-weight: 600;
    color: #3b3939;
    margin-top: 0.4rem;
}
footer{
    margin-top: 4.8rem;
    text-align: left;
    font-size: 14.7px;
    letter-spacing: 0.25px;
    font-size: medium;
}